<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brand Boost</title>
    <link rel="stylesheet" href="../styles/header.css">
</head>
<body>
    <header>
        <div class="brand-boost">
            <img src="../assets/Logo.svg" alt="">
        </div>
        <nav>
          <ul>
            <li data-tab="dashboard" class="active"><a href="#">Dashboard</a></li>
            <li data-tab="orders"><a href="#">Orders</a></li>
            <li data-tab="gigs"><a href="#">Gigs</a></li>
            <li data-tab="earnings"><a href="#">Earnings</a></li>
          </ul>
        </nav>
        <div class="user-menu">
          <div class="search-bar">
            <input type="text" placeholder="Search...">
            <img src="../assets/search-icon.png" alt="Search Icon" class="search-icon">
          </div>
          <div class="chat-icon">
            <img src="../assets/chat-icon.svg" alt="">
          </div>
          <div class="notification-icon">
            <img src="../assets/notification.svg" alt="">
          </div>
          <div class="user-icon">
            <img src="../assets/user-icon.svg" alt="User Icon">
            <div class="popup">
              <ul>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
    <script src="../scripts/header.js"></script>
</body>
</html>
