<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="../styles/navbarStyles.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <img src="../assets/Logo.svg" alt="Logo" class="navbar-icon">
        </div>
        <div class="navbar-right">
            <ul class="navbar-menu">
                <li class="navbar-item"><a href="#home">Home</a></li>
                <li class="navbar-item"><a href="#about">About</a></li>
                <li class="navbar-item"><a href="#services">Services</a></li>
                <li class="navbar-item"><a href="#blog">Blog</a></li>
                <li class="navbar-item"><a href="#contact">Contact</a></li>
                <li class="navbar-item"><a href="#login">Login</a></li>
            </ul>
            <div class="navbar-buttons">
                <button class="signup-btn">Sign Up</button>
            </div>
        </div>
    </nav>
</body>
</html>
