body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

#sidebar-container {
    width: 250px;
}

.main-content {
    flex: 1; /* Takes up remaining space */
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
}

.right-sidebar {
    width: 300px;
    padding: 20px;
    background-color: #f7f7f7;
    border-left: 1px solid #ddd;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stats div {
    width: calc(30% - 20px);
    background-color: #cd84f1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stats h2 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 10px;
}

.stats p {
    font-size: 1.2em;
    margin: 5px 0;
}

.chart, .customer-complaints {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chart h2, .customer-complaints h2 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 15px;
}

.chart svg {
    width: 100%;
    height: 300px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.customer-complaints table {
    width: 100%;
    border-collapse: collapse;
}

.customer-complaints th, .customer-complaints td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.customer-complaints th {
    background-color: #f7f7f7;
    font-weight: bold;
}

.customer-complaints td {
    background-color: #fff;
}

.customer-complaints tr:nth-child(even) {
    background-color: #f2f2f2;
}

.registered-users {
    margin-top: 20px;
}

.registered-users svg {
    width: 100%;
    height: 300px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 8px;
}
