<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/admin/barchart.css">
</head>
<body>
    <div class="registered-users">
        
        <div class="bar-chart">
            <div class="bar">
                <div class="influencer-orders" style="height: 40%;"></div>
                <div class="designer-orders" style="height: 20%;"></div>
                <span>January</span>
            </div>
            <div class="bar">
                <div class="influencer-orders" style="height: 50%;"></div>
                <div class="designer-orders" style="height: 25%;"></div>
                <span>February</span>
            </div>
            <div class="bar">
                <div class="influencer-orders" style="height: 60%;"></div>
                <div class="designer-orders" style="height: 25%;"></div>
                <span>March</span>
            </div>
            <div class="bar">
                <div class="influencer-orders" style="height: 35%;"></div>
                <div class="designer-orders" style="height: 15%;"></div>
                <span>April</span>
            </div>
            <div class="bar">
                <div class="influencer-orders" style="height: 70%;"></div>
                <div class="designer-orders" style="height: 20%;"></div>
                <span>May</span>
            </div>
            <div class="bar">
                <div class="influencer-orders" style="height: 25%;"></div>
                <div class="designer-orders" style="height: 15%;"></div>
                <span>June</span>
            </div>
            <div class="bar">
                <div class="influencer-orders" style="height: 40%;"></div>
                <div class="designer-orders" style="height: 20%;"></div>
                <span>July</span>
            </div>
            <div class="bar">
                <div class="influencer-orders" style="height: 50%;"></div>
                <div class="designer-orders" style="height: 25%;"></div>
                <span>August</span>
            </div>
            <div class="bar">
                <div class="influencer-orders" style="height: 60%;"></div>
                <div class="designer-orders" style="height: 25%;"></div>
                <span>September</span>
            </div>
            <div class="bar">
                <div class="influencer-orders" style="height: 35%;"></div>
                <div class="designer-orders" style="height: 15%;"></div>
                <span>October</span>
            </div>
            <div class="bar">
                <div class="influencer-orders" style="height: 70%;"></div>
                <div class="designer-orders" style="height: 20%;"></div>
                <span>November</span>
            </div>
            <div class="bar">
                <div class="influencer-orders" style="height: 25%;"></div>
                <div class="designer-orders" style="height: 15%;"></div>
                <span>December</span>
            </div>
        </div>
        <div class="identify">
            <div class="influencer-identity-outer">
                <div class="influencer-identity" ></div>
                <div class="influencer-name">Influencer orders</div>
            </div>
            <div class="designer-identity-outer">
                <div class="designer-identity" ></div>
                <div class="designer-name">Designer orders</div>
            </div>

        </div>
    </div>
    
</body>
</html>