<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/admin/usercard.css">
</head>
<body>
    
    <div class="card-outer">
        <div class="user-image">
            <img src="../../assets/user_logo.png" alt="User Image">
        </div>
        <div class="user-info">
            <h3>John Doe</h3>
            <h4>Designer</h4>
        </div>
    </div>

</body>
</html>