body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #011627;
    color: white;
    padding: 50px 5vw;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin-right: 0px;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.logo-column {
    flex: 1.25;
    margin-left: 6vw;
    font-size: 14px;
}

.footer-logo {
    height: 40px;
    margin-bottom: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #4f5f6f;
}

.footer-bottom-left {
    font-size: 14px;
}

.footer-bottom-right a {
    margin-left: 15px;
    display: inline-block;
}

.footer-bottom-right img {
    height: 24px;
    width: 24px;
    filter: brightness(0) invert(1); /* Ensures icons are white */
}

.footer-bottom-right a:hover img {
    filter: brightness(0) invert(0.5); /* Slightly darker on hover */
}
